<h1>Formulario Basico</h1>

<form [formGroup]="signupForm" (ngSubmit)="enviar(signupForm.value)">
  <label>Nombre</label>
  <input type="text" formControlName="nombre"/>
  <br />

  <label>Usuario</label>
  <input type="text" formControlName="usuario"/>
  <br />

  <label>Email</label>
  <input type="text" formControlName="email"/>
  <div *ngIf="signupForm.get('email').hasError('email') && signupForm.touched">
    El email es invalido
  </div>
  <br />

  <label>contraseña</label>
  <input type="password" formControlName="pwd"/>
  <br />
  <button [disabled]="signupForm.invalid"type="submit">Registrarse</button>
</form>
